<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-snackbar"
        version="1.0.0">
    <name>Snackbar</name>
    <description>Cordova Plugin that displays Material Design Snackbar</description>
    <license>MIT</license>
    <keywords>cordova,material design,snackbar</keywords>


    <js-module src="www/materialSnackbar.js" name="MaterialSnackbar">
        <clobbers target="cordova.plugins.snackbar" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MaterialSnackbar">
                <param name="android-package" value="com.materialSnackbar.MaterialSnackbar"/>
            </feature>
        </config-file>

        <framework src="com.android.support:appcompat-v7:23.+" />
        <framework src="com.android.support:design:23.+" />

        <source-file src="src/android/MaterialSnackbar.java" target-dir="src/com/materialSnackbar" />
    </platform>
</plugin>
